

.fundo {
    position: relative;
    background-image: url(../img/teste.png);
    background-size: cover;
    background-position: center top;
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat;
  }
  
  .fundo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1; /* Garante que o pseudo-elemento esteja sobre a imagem de fundo */
  }
  