:root {
  --cor-primaria: #06141d;
}

body {
  font-size: 62, 5%;
  font-family: "Philosopher", sans-serif;
}

/*------------------------ NAV ----------------------------*/
nav,
.cor-primaria {
  background-color: var(--cor-primaria);
}

.dropdown-item:hover {
  background-color: var(--cor-primaria);
  color: azure;
}

.nav-link {
  color: #ad587f;
}


.n1 {
  background-color: #F5F3E5;
}


/*------------------------ IMAGEM DE FUNDO INDEX ----------------------------*/
.fundo-principal {
  background-image: url(../img/fundo-principal.png);
  background-size: cover;
  background-position: center top;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}

.fundo-secundario {
  background-image: url(../img/fundo-marron.jpg);
}

/*------------------------ TAMANHO ICONES SECTION INFORMAÇÕES ----------------------------*/
.icon {
  width: 110px;
  height: 110px;
}




/*------------------------ CARDS SECTION FAC ----------------------------*/
.card-fac>div:first-child {
  font-family: "Philosopher", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

.card-fac>.card-body .card-text {
  font-family: "Philosopher", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.section-fac {
  background-image: url(../img/fac-background.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}




/*---------------------------------------- section-info -------------------------------------*/
/* Tamanho Extra Pequeno (xs) */
@media (max-width: 575.98px) {
  .img-section-info {
    width: 375px;
  }


}

/* Tamanho Pequeno (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .img-section-info {
    width: 576px;
  }
}

/* Tamanho Médio (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .img-section-info {
    width: 768px;
  }
}

/* Tamanho Grande (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img-section-info {
    width: 768px;
  }
}

/* Tamanho Extra Grande (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Estilos para telas de 1200px até 1399px */
}

/* Tamanho Extra Extra Grande (xxl) */
@media (min-width: 1400px) {
  /* Estilos para telas de 1400px e maiores */
}






/*---------------------------------### CAROUSEL ###--------------------------------------------*/

/* Estilo para limitar a altura do carrossel */
#carouselExampleCaptions {
  max-height: 70vh;
  overflow: hidden;
  /* Ocultar qualquer parte do carrossel que ultrapasse a altura máxima */
}

#carouselExampleCaptions .carousel-inner {
  max-height: 100%;
  /* Ajustar a altura máxima para o conteúdo interno do carrossel */
}

#carouselExampleCaptions .carousel-item {
  height: 100%;
  /* Garantir que cada item do carrossel ocupe a altura total do carrossel */
}

/* Textos do Carousel*/
h1 {
  color: #e81737;
}

.elemento-vidro, .elemento-vidro-paralelogramo p {
  font-size: x-large;
}




/* Responsividade para dispositivos móveis */

@media (max-width: 768px) {
  .carousel-item div {
    max-width: 100%;
  }
}

.img-1-carousel {
  background-image: url("../img/banner-principal.jpg");
}

.img-2-carousel {
  background-image: url("../img/banner-2.jpg");
}

.img-3-carousel {
  background-image: url("../img/banner-4.jpg");
}

@media (max-width: 768px) {

  .img-1-carousel,
  .img-2-carousel,
  .img-3-carousel {
    height: 60vh;
  }
}








/*----------------------------EFEITO DE VIDRO E PARALELOGRAMA DO CAROUSEL--------------------------------------------------*/
.elemento-vidro,
.elemento-vidro-paralelogramo {
  background-color: rgba(0, 0, 0, 0.5);
  /* Cor de fundo com opacidade para criar o efeito de vidro */
  padding: 5%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  /* Aplica um desfoque ao elemento de fundo, criando o efeito de vidro */
  height: 70vh;
}

/* Inclinação*/
.elemento-vidro-paralelogramo {
  transform: skew(-10deg);
}

/* Inclinação contraria para alinhar o texto*/
.elemento-vidro-paralelogramo h1,
.elemento-vidro-paralelogramo p {
  transform: skew(10deg);
}






/*------------------- section-contato---------------------------*/
#contato-section .card:hover{
  transform: scale(1.05);
  border: 1px solid #d2aa5c;
}















/*------------------- Pagina Revenda---------------------------*/


legend {
  font-size: 1.2rem;
}

small {
  padding-left: 15px;
}



.fundo {
  position: relative;
  background-image: url(../img/teste.png);
  background-size: cover;
  background-position: center top;
  width: 99.9%;
  height: 25vh;
  background-repeat: no-repeat;
}

.fundo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  /* Garante que o pseudo-elemento esteja sobre a imagem de fundo */
}