:root {
  --cor-primaria: #06141d;
}

body {
  font-size: 62, 5%;
  font-family: "Philosopher", sans-serif;
}

/*------------------------ NAV ----------------------------*/
/*-Nav Primaria*/
nav, 
.cor-primaria {
  background-color: var(--cor-primaria);
}

/*-Nav Secundaria com o menu*/

.nav-color,
.offcanvas-color {
  background-color: #62162f;
}
.nav-link {
  color: azure;
}

.dropdown-item.active {
  background-color: #62162f;
  color: azure;
}


.nav-link:hover, .dropdown-item:hover,
.navbar-nav .nav-link.active{
  background-color: #62162f;
  color: #e0b0ff;
}

.dropdown-toggle.show {
  color: #e0b0ff !important;
}




/* Tamanho Pequeno (sm) */
@media (min-width: 0px) and (max-width: 767px) {
  .offcanvas-color{
    background-image: url(../img/fundo/fundo-principal-offcanvas.jpg);
    background-size: cover;
    background-position: center top;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
  }


  }
  
  /* Tamanho Médio (md) */
  @media (min-width: 768px) and (max-width: 991.98px) {
  .img-section-info {
    width: 768px;
  }
  }



.dropdown-position {
  position: absolute;
  left: 50% !important;
  transform: translate(-50%);

}

.dropdown-ajuste {
  display: flex !important;
  width: 80vw;
  list-style: none !important;
  flex-wrap: wrap !important;
  padding: 0;
}

.scrollable-dropdown {
  max-height: 90vh;
  /* Defina a altura máxima desejada*/
  overflow-y: auto;
}

/*------------------------ IMAGEM DE FUNDO INDEX ----------------------------*/
.fundo-principal {
  background-image: url(../img/fundo/fundo-principal.png);
  background-size: cover;
  background-position: center top;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}

.fundo-secundario {
  background-image: url(../img/fundo/fundo-section-texto-2.jpg);
}


/*------------------------ TAMANHO ICONES SECTION INFORMAÇÕES ----------------------------*/
.icon {
  width: 110px;
  height: 110px;
}




/*------------------------ CARDS SECTION FAC ----------------------------*/
.card-fac>div:first-child {
  font-family: "Philosopher", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

.card-fac>.card-body .card-text {
  font-family: "Philosopher", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.section-fac {
  background-image: url(../img/fundo/fundo-section-fac.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}




/*---------------------------------------- section-info -------------------------------------*/
/* Tamanho Extra Pequeno (xs) */
@media (max-width: 575.98px) {
  .img-section-info {
    width: 375px;
  }


}

/* Tamanho Pequeno (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .img-section-info {
    width: 576px;
  }
}

/* Tamanho Médio (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .img-section-info {
    width: 768px;
  }
}

/* Tamanho Grande (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img-section-info {
    width: 768px;
  }
}

/* Tamanho Extra Grande (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  /* Estilos para telas de 1200px até 1399px */
}

/* Tamanho Extra Extra Grande (xxl) */
@media (min-width: 1400px) {
  /* Estilos para telas de 1400px e maiores */
}






/*---------------------------------### CAROUSEL ###--------------------------------------------*/

/* Estilo para limitar a altura do carrossel */
#carouselExampleCaptions {
  max-height: 70vh;
  overflow: hidden;
  /* Ocultar qualquer parte do carrossel que ultrapasse a altura máxima */
}

#carouselExampleCaptions .carousel-inner {
  max-height: 100%;
  /* Ajustar a altura máxima para o conteúdo interno do carrossel */
}

#carouselExampleCaptions .carousel-item {
  height: 100%;
  /* Garantir que cada item do carrossel ocupe a altura total do carrossel */
}

/* Textos do Carousel*/
h1 {
  color: #e81737;
}

.elemento-vidro, .elemento-vidro-paralelogramo p {
  font-size: x-large;
}




/* Responsividade para dispositivos móveis */

@media (max-width: 768px) {
  .carousel-item div {
    max-width: 100%;
  }
}

.img-1-carousel {
  background-image: url("../img/carousel/banner-principal.jpg");
}

.img-2-carousel {
  background-image: url("../img/carousel/banner-2.jpg");
}

.img-3-carousel {
  background-image: url("../img/carousel/banner-4.jpg");
}

@media (max-width: 768px) {

  .img-1-carousel,
  .img-2-carousel,
  .img-3-carousel {
    height: 60vh;
  }
}








/*----------------------------EFEITO DE VIDRO E PARALELOGRAMA DO CAROUSEL--------------------------------------------------*/
.elemento-vidro,
.elemento-vidro-paralelogramo {
  background-color: rgba(0, 0, 0, 0.5);
  /* Cor de fundo com opacidade para criar o efeito de vidro */
  padding: 5%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  /* Aplica um desfoque ao elemento de fundo, criando o efeito de vidro */
  height: 70vh;
}

/* Inclinação*/
.elemento-vidro-paralelogramo {
  transform: skew(-10deg);
}

/* Inclinação contraria para alinhar o texto*/
.elemento-vidro-paralelogramo h1,
.elemento-vidro-paralelogramo p {
  transform: skew(10deg);
}










/*------------------- Pagina Galeria---------------------------*/


.galeria-section {
  padding: 1px;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #06141d;
}

.galeria img {
width: 100%;
border-radius: 5px;
margin-bottom: 10px;
}

.galeria {
column-count: 5;
column-gap: 10px;
}

/* Tamanho Extra Pequeno (xs) */
@media (max-width: 575.98px) {


.galeria img {
  margin-bottom: 5px;
}

.galeria {
  column-count: 3;
  column-gap: 5px;
}


}


/* Tamanho Pequeno (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
.img-section-info {
  width: 576px;
}
}

/* Tamanho Médio (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
.img-section-info {
  width: 768px;
}
}

/* Tamanho Grande (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
.img-section-info {
  width: 768px;
}
}

/* Tamanho Extra Grande (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
/* Estilos para telas de 1200px até 1399px */
}

/* Tamanho Extra Extra Grande (xxl) */
@media (min-width: 1400px) {
/* Estilos para telas de 1400px e maiores */
}


/*------------------- section-contato---------------------------*/
#contato-section .card:hover{
  transform: scale(1.05);
  border: 1px solid #d2aa5c;
}















/*------------------- Pagina Revenda---------------------------*/


legend {
  font-size: 1.2rem;
}

small {
  padding-left: 15px;
}



.fundo-secundario-paginas {
  position: relative;
  background-image: url(../img/fundo/fundo-secundario-paginas.jpg);
  background-size: cover;
  background-position: center 30%;
  width: 99.9%;
  height: 25vh;
  background-repeat: no-repeat;
}

.fundo-secundario-paginas::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  /* Garante que o pseudo-elemento esteja sobre a imagem de fundo */
}

#btnVoltarAoTopo {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn-vidro{
  background-color:  rgba(98, 22, 47, 0.8);
  border-radius: 5px;
  backdrop-filter: blur(10px);
}




/*------------------- Pagina Loja ---------------------------*/


.fundo-loja{
  position: relative;
  background-image: url(../img/fundo/fundo-loja.jpeg);
  background-size: cover;
  background-position: center 30%;
  width: 99.9%;
  height: 25vh;
  background-repeat: no-repeat;
}

.fundo-loja::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  /* Garante que o pseudo-elemento esteja sobre a imagem de fundo */
}





.list-group-item-action:hover {
  color: #bb0b0b;
  transform: scale(1.1);
  background-color: white;
}

.accordion-button:not(:focus) {
  color: black;
  background-color: white;
  /* Cor de fundo padrão */
}


.accordion-button:focus {
  background-color: rgba(255, 0, 0, 0.1);
  box-shadow: none;
  /* Remover a sombra quando o botão está aberto e recebe foco */
}

/*quando o botão não está aberto*/
.accordion-button.collapsed {
  background-color: white;
  color: black;
  border: none;

}

.pagination .page-link {
  color: #bb0b0b;
  cursor: pointer;
}

.pagination .active {
  color: white;
  background-color: #dc3545;
  border: #dc3545 1px solid;
  transform: scale(1.1);
}

.list-group .btn {
  color: black;
}

.list-group .btn:hover {
  color: white;
}
/*------------------- Carrinho de compras---------------------------*/
.btn-carrinho a{
  color: blue;
  text-decoration-line: none;
}




/*------------------- Pagination---------------------------*/


#paginate {
  width: 100%;

  margin: 32px auto;
}

#paginate .item {
  border-bottom: 1px solid hsl(32, 98%, 12%);
  padding: 16px 32px;
}

#paginate .item:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

#paginate .controls {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 8px;
}

#paginate .controls div {
  cursor: pointer;

  /* border: 1px solid #eee; */

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14;
}

#paginate .controls div:not(.numbers),
#paginate .controls div.numbers div {
  width: 40px;
  height: 40px;
}

#paginate .controls div.numbers div:hover,
#paginate .controls div.numbers div.active {
  color: var(--primary);
}